spring:
  application:
    name: gighub
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: Asia/Seoul
  jackson:
    time-zone: Asia/Seoul

jwt:
  secret: ${JWT_SECRET}
  access-expiry: 3600000
  refresh-expiry: 604800000

server:
  port: 28080
